.navbar
{
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 5000;
}

.navbar-fixed
{
    position: fixed !important;
    background: rgba(var(--theme-main_nav), 1.0) !important;
}

.navbar-unfixed
{
    position: relative !important;
    background: rgba(var(--theme-main_nav), 0.7) !important;
}